.mdiv1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon1{
    margin: 0px 10px 0px 10px;
    color: black;
    height: 20px;
    width: 20px;
}

.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    font-family: sans-serif;
    margin: 10px;
}

.desck {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.des {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sidebar{
    width: 20%;
    height: auto;
    position: absolute;
    text-wrap: wrap;
}

.productsPage{
    height: auto;
    border: 2px solid red;
    margin-left: 22%;
    width: 100%;
    padding: 1rem;
    text-wrap: wrap;
}

.sideCont {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.fullWidth {
    width: 100%;
    margin-left: 22%;
    height: auto;
}

.prodPage {
    width: 100%;
    height: auto;
    margin: 0px 30px 0px 30px;
}


.dk{
    text-align: center;
    max-width:334px;
    margin: 0 auto;
}

.dk , .hk {
    margin-bottom: 10px;
    font-size:20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.dk p {
  line-height: 2.0;
  margin:30px 0px 30px 0px;
}



/* Product styles */

.productsList1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img1 {
    text-align: center;
    justify-content: center;
    background-color: #f9f9f9;
    cursor: pointer;
}

.name1{
    text-align: center;
    justify-content: center;
}

.plist1 {
    cursor: pointer;
    text-align: center;
    margin:7px;
    width:150px;
}

.productName1 {
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:150px;
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}



/* Footer Styles */



.footer1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.footer1>div {
    flex: 1;
    padding: 0 20px;
}


.container11{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.copyright1{
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:14px;
    padding:10px;
}

.payments1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pay1{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
}

